body {
  min-width: 375px;
  width: 85%;
  margin: 0 auto;
  color: black;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-container a,
.user-posts-container a {
  text-decoration: none;
}

.user {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.user-image {
  width: 20%;
  border: 2px solid rgb(184, 161, 161);
}

.profile-pic {
  width: 100%;
}

.user-info {
  border: 2px solid rgb(184, 161, 161);
  width: 80%;
  padding: 10px 15px;
  text-decoration: none;
}

.count {
  display: block;
  padding-right: 30px;
  text-align: right;
}

.users-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 15px;
}

.bio,
.user-post,
.user-post-comments {
  border: 2px solid rgb(184, 161, 161);
  padding: 10px 15px;
}

.bio p {
  font-weight: 500;
}

.text-right {
  text-align: right;
}

.green-text {
  color: green;
}

.button-center {
  text-align: center;
  padding: 30px;
}

.see-all-posts {
  padding: 15px 30px;
}

.users-post-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.users-post,
.text-right {
  text-decoration: none;
  margin-bottom: 10px;
}

.post-container,
.user-posts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-posts-container {
  gap: 35px;
}

.posts-container > * {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-comments,
.post-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
}

.user-post-comments {
  gap: 5px;
}

.notice-success {
  color: green;
}

form.frm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
  justify-content: center;
}

.input-group {
  display: flex;
  gap: 20px;
  width: 100%;
}

label.form-label {
  flex-shrink: 0;
}

input#title {
  height: 29px;
}

.form-control {
  width: 100%;
}

button.main-button {
  width: fit-content;
  padding: 10px 15px;
  float: right;
}

.user-interaction {
  display: flex;
  gap: 30px;
  font-size: larger;
  float: right;
  padding-right: 30px;
  margin-top: 20px;
}

a.button-link {
  text-decoration: none;
  color: black;
}

section.pagy {
  margin: 20px auto;
}

section.main-container.layout-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.devise {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
  width: 100%;
}

input#user_email, input#user_name, input[type="password"], input[type="submit"] {
  width: 100%;
  background-color: none;
  font-size: 21px;
}

input[type="submit"]{
  margin-top: 10px;
}
